// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bulma
@import '../../node_modules/bulma/bulma.sass';

// Font awesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// jquery-ui
@import '../../node_modules/jquery-ui/themes/base/all.css';

#editTaskModal {
   z-index: 9999;
}

.task-title {
   color: blue;
}

.complete {
   background-color: #33D1B2;
}

.incomplete {
   background-color: #FEDD57;
}

.fa-trash {
   color: red;
}

.fa-pen-square {
   color: #3490DC;
}

.nav-link.auth-user {
   background-color: #FEDD57;
   color: black;
   border-radius: 5px;
}

[v-cloak] {
   display: none;
}